<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROJECT_ENA_GAS.Properties.Settings.ENAGASConnectionString"
            connectionString="Data Source=DESKTOP-H26444U\SQLEXPRESS;Initial Catalog=ENAGAS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>